@font-face { font-family: Bebaskai; src:url('../Fonts/BebasKai.otf'); }
@font-face { font-family: Skolar-Italic; src:url('../Fonts/Skolar/SkolarPE-Italic.ttf'); }
@font-face { font-family: Skolar-Regular; src:url('../Fonts/Skolar/SkolarPE-Regular.ttf'); }
@media (max-width: 768px){
  .desktop-only{
    display: none;
  }
}

.site-content{
  width: 100%;
  max-width: 1440px;
  padding: 42px 0;
  margin: 0 auto;
}

.details-wrap{
  display: none !important;
}

.cover.cover-normal{
    background: #191919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

/* blend mode */
.cover-image-wrap {
  mix-blend-mode: luminosity;
  transition: mix-blend-mode 0.3s ease;
}

.cover-image-wrap:hover {
  mix-blend-mode: unset;
}


/*ayn project body*/
.ayn-project-body {
  padding-bottom: 92px;
  color: #b0b0b0;
  font-family: "Skolar-Regular", "sans-serif";
  font-size: 24px;
  padding: 0 32px;
  max-width: 1024px;
  margin: 0 auto;
}
.ayn-project-body .content-width {
  margin-bottom: 20px;
}

.ayn-project-body div.content-divider{
  padding-top: 1px;
  width: 60%;
  background: #b0b0b0;
  opacity: .4;
  margin: 52px auto;
}

.ayn-project-body .content-width h3 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.ayn-project-body .content-width h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.ayn-project-body .content-width p, .ayn-project-body .content-width ul:not(.lightslider) {
  margin-bottom: 32px;
  line-height: 1.6;
}

.ayn-project-body .content-width li:not(.slide-item) {
  list-style-type: circle;
  margin-bottom: 8px;
}

.ayn-project-body .content-width blockquote {
  position: relative;
  color: #fff;
}
.ayn-project-body .content-width blockquote:after {
  content:"";
  position: absolute;
  width: 8px;
  top:0;
  left:-40px;
  height: 100%;
  background: green;
}

.ayn-project-body .content-image {
  padding: 32px;
  padding-bottom: 52px;
  position: relative;
  margin-bottom: 32px;
  background: rgba(34, 34, 34, 0);
  min-height: 92px;
  width: 100%;
  transition: .3s ease;
  border-radius: 4px;
}

.ayn-project-body .content-image .caption{
  color: #b0b0b0;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.ayn-project-body .content-image:hover {
  background: rgba(34, 34, 34, 1);
}

.ayn-project-body .content-width.intro, .ayn-project-body ul>h5, .ayn-project-body .content-image .caption{
  font-family: "Skolar-Italic", "sans-serif";
}

.ayn-project-body .content-width .white-highlight {
 color: #fff;
}

