@font-face {
  font-family: Bebaskai;
  src: url('../Fonts/BebasKai.otf');
}

@font-face {
  font-family: Skolar-Italic;
  src: url('../Fonts/Skolar/SkolarPE-Italic.ttf');
}

@font-face {
  font-family: Skolar-Regular;
  src: url('../Fonts/Skolar/SkolarPE-Regular.ttf');
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

body.no-scroll {
  overflow: hidden;
}

.site-content {
  width: 100%;
  max-width: 1440px;
  padding: 42px 0;
  margin: 0 auto;
}

.details-wrap {
  display: none !important;
}

.cover.cover-normal {
  background: #191919;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

/* blend mode */

.cover-image-wrap {
  mix-blend-mode: luminosity;
  transition: mix-blend-mode 0.3s ease;
}

.cover-image-wrap:hover {
  mix-blend-mode: unset;
}

/*ayn project body*/

.ayn-project-body {
  padding-bottom: 92px;
  color: #b0b0b0;
  font-family: "Skolar-Regular", "sans-serif";
  font-size: 24px;
  padding: 0 32px;
  max-width: 1360px;
  margin: 0 auto;
}

.ayn-project-body a {
  color: #3DBA71;
  text-decoration: underline;
  font-family: "Skolar-Italic", "sans-serif";
}

.ayn-project-body .tldr {
  margin-bottom: 42px;
  font-size: 20px;
  padding: 24px;
  border-radius: 12px;
  background: rgba(34, 34, 34, 1);
}

.ayn-project-body .content-width {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.ayn-project-body .content-width.intro {
  opacity: .7;
}

.ayn-project-body div.content-divider {
  padding-top: 1px;
  width: 60%;
  background: #b0b0b0;
  opacity: .4;
  margin: 52px auto;
}

.ayn-project-body .content-width h3 {
  font-size: 32px;
  font-weight: bold;
  color: #3DBA71;
}

.ayn-project-body .content-width h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.ayn-project-body .content-width p, .ayn-project-body .content-width ul:not(.lightslider) {
  margin-bottom: 32px;
  line-height: 1.6;
}

.ayn-project-body .content-width li:not(.slide-item) {
  list-style-type: circle;
  margin-bottom: 8px;
}

.ayn-project-body .content-width ul.lightslider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ayn-project-body .content-width blockquote {
  position: relative;
  color: #fff;
  padding: 12px 0px;
  line-height: 1.5;
}

.ayn-project-body .content-width blockquote:after {
  content: "";
  position: absolute;
  width: 8px;
  top: 0;
  left: -40px;
  height: 100%;
  background: #3DBA71;
}

.ayn-project-body .content-image {
  padding: 32px;
  padding-bottom: 52px;
  position: relative;
  margin-bottom: 32px;
  background: rgba(34, 34, 34, 0);
  min-height: 92px;
  width: 100%;
  transition: .3s ease;
  border-radius: 4px;
}

.ayn-project-body .content-image .caption {
  color: #b0b0b0;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.ayn-project-body .content-image:hover {
  background: rgba(34, 34, 34, 1);
}

.ayn-project-body .content-width.intro, .ayn-project-body ul>h5, .ayn-project-body .content-image .caption, .ayn-project-body .is-italic {
  font-family: "Skolar-Italic", "sans-serif";
}

.ayn-project-body .content-width .white-highlight {
  color: #fff;
}

/* lightslider */

.lSPager.lSGallery {
  width: 100% !important;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  flex-wrap: wrap;
}

.lSPager.lSGallery li {
  min-width: 120px;
  height: auto;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0 !important;
  overflow: visible !important;
  position: relative;
  list-style-type: none !important;
}

.lSPager.lSGallery li.active, .lSPager.lSGallery li:hover {
  padding: 4px;
  border-radius: 2px !important;
  background-color: #616161;
}

.lSPager.lSGallery li.active:after {
  content: "";
  position: absolute;
  top: 3px;
  height: 12;
  width: 12;
  left: 47%;
  transform: rotate(45deg) translate(-50%, -50%);
  background-color: #616161;
  z-index: -1;
}

/* lightbox */

.ayn-lightbox {
  /* visibility: hidden; */
  position: fixed;
  padding: 84px 5% 42px 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotate(0deg);
  transition: all .3s ease;
}

.ayn-lightbox.show {
  /* visibility: visible; */
}

.ayn-lightbox.is-rotated {
  transform: rotate(90deg);
}

.ayn-lightbox .lightbox-images {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 90vw;
  height: 70vh;
}

.ayn-lightbox .lightbox-images .caption {
  font-size: 24px;
  font-family: "Skolar-Regular", sans-serif;
  color: #fff;
  margin: 42px;
  text-align: center;
}

.ayn-lightbox .lightbox-images .image-bg {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ayn-lightbox .lightbox-actions {
  display: flex;
  max-width: 40%;
  width: 100%;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}

.ayn-lightbox .lightbox-actions .icn_lightbox {
  height: 60px;
  width: 60px;
  border-radius: 21rem;
  background: rgb(46, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ayn-lightbox .lightbox-actions .icn_lightbox svg {
  fill: #fff;
}

/* lightbox */

/* mobile styles */

@media (max-width: 1200px) {
  .ayn-project-body {
    font-size: 20px;
    padding: 0 16px;
  }

  .ayn-project-body .content-width {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .ayn-project-body .content-width h3 {
    margin-top: 0;
    margin-bottom: 18px;
  }
  .ayn-project-body .content-width blockquote {
    position: relative;
    color: #fff;
    padding: 8px 0px 8px 19px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  .ayn-project-body .content-width blockquote:after {
    left: 0;
    width: 4px;
  }
  .page-header .title.project--title {
    font-size: 42px;
    line-height: 1;
    padding-bottom: 12px;
  }
  .page-header .description.project--description {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 13px;
  }
 
  .ayn-project-body .content-image {
    padding: 0;
    padding-bottom: 32px;
    margin-bottom: 20px;
  }
  .ayn-project-body .content-image .caption {
    bottom: -12px;
  }
  .ayn-project-body .content-width p, .ayn-project-body .content-width ul:not(.lightslider) {
    margin-bottom: 20px;
  }
  .ayn-project-body div.content-divider {
    margin: 32px auto;
  }
  .other-projects .title-wrapper {
    flex-direction: column;
  }
  .other-projects .title-wrapper a h3 {
    font-size: 24px;
    margin-bottom: 32px;
  }
}