//fonts
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

// variables
$color-black: #292A2C;
$font-primary: 'Red Rose', 'serif';
$font-secondary: 'IBM Plex Sans', 'sans-serif';


body{
    background:#fff;
    margin: 0;
    padding: 0;
 *{
    color: $color-black;
    font-family: $font-secondary;
    line-height: 1.5;
    box-sizing: border-box;
 }
 &.other-page{
     padding-top: 72px;
 }
}

@media screen and (min-width: 1201px){
    .mobile-only{
        display: none !important;
    }
}

.pre-loader{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1999;
    video{
        height: 20%;
        width: auto;
    }
}

h1, h3{
    font-family: $font-primary;
}

h1, h3, p, img{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.oyn-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 42px;
    &.no-padding{
        padding: 0;
    }
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 42px 0;
    z-index: 999;
    img{
        height: auto;
    }
    &.other-page{
        // background: #fff;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }
}

// home page
.panels{
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    .left-panel{
        position: sticky;
        bottom: 172px;
        max-width: 46%;
        .header-text{
            img.emoji--hi{
                height: 62px;
            }
            .title--page{
                font-family: $font-primary;
                font-size: 62px;
                margin-bottom: 8px;
            }
            .subheader{
                font-size: 24px;
                margin-bottom: 32px;
                .has-tooltip{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .list--industry{
                *{
                    margin-right: 12px;
                }
                .industry-name{
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 600;
                    opacity: 0.5;
                    letter-spacing: .4px;
                }
            }
        }
    }
    .right-panel{
        margin-top: 42px;
        .list--project{
            .project-thumb{
                position: relative;
                height: 700px;
                width: 550px;
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 12px;
                img{
                    height: 100%;
                    width: 100%;
                    max-width: 100%;
                    // transform: scale(1);
                    transition: all .5s ease;
                    // will-change: transform;
                }
                .thumb--link{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                }
                &:hover{
                    img{
                        transform: scale(1.01);
                    }
                }
            }
        }
        .social-links{
            margin: 60px 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                color: $color-black;
                font-weight: 600;
                position: relative;
                transform: translateY(0);
                transition: all .3s ease;
                will-change: transform;
                &:hover{
                    transform: translateY(-4px);
                }
                img{
                    margin-left: 20px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

.cta--sponge{
    .cta-text{
        font-size: 14px;
        font-weight: 800;
        color: rgba(0,0,0, .8);
        z-index: 3;
    }
    padding: 12px 20px;
    background: #38E1CC;
    border-bottom: 6px solid #38E1CC;
    position: relative;
    border-radius: 4px;
    border-bottom-left-radius: 4.5px;
    border-bottom-right-radius: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    cursor: pointer;
    transition: all 0.2s ease;
    &:after{
        content:"";
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #90FCEF;
        border-radius: 4px;   
    }
    &:hover{
        border-bottom: 4px solid #38E1CC;
    }
    a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.site-actions{
    position: fixed;
    bottom: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    .cta--sponge{
        margin-right: 20px;
    }
    .current-state{
        font-weight: 600;
        opacity: 0.4;
    }
    &.is-project-page{
        margin-top: 120px;
        position: relative;
        flex-direction: column;
        border-top: 1px solid rgba(0,0,0,.06);
        padding-top: 60px;
        .action-title{
            font-size: 32px;
            font-family: $font-primary;
            margin-bottom: 32px;
        }
        .cta--sponge{
            margin-right: 0;
            margin-bottom: 20px;
            font-size: 20px;
        }
        .next-project{
            font-size: 16px;

        }
    }
}

// project page
.project-details{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: -1;
    padding: 23vh 0;
    background: #FFEAC8;
    .fixed-content-wrapper{
        position: relative;
        max-width: 1440px;
        padding: 0 42px;
        margin: 0 auto;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    }
    .project-overview{
        max-width: 50%;
        margin-right: 32px;
        .project-title{
            font-size: 52px;
            font-family: $font-primary;
            // margin-bottom: 28px;
            div{
                font-family: $font-secondary;
                font-size: 16px;
                opacity: 0.7;
                margin-top: 2px;
            }
        }
        .project-desc{
            font-size: 16px;
            font-weight: 400;
            .objective{
                margin-top: 12px;
                font-weight: 600;
            }
        }

    }
    
    .project-stats{
        width: 100%;
        max-width: 30%;
        justify-content: space-between;
        &>div{
            width: 100%;
        }
        .stat{
            margin-bottom: 18px;
            display: flex;
            flex-direction: column;
            .stat-title{
                font-family: $font-primary;
                font-size: 14px;
                opacity: 0.7;
                margin-bottom: 2px;
            }
            .stat-value{
                font-weight: 600;
                span.points{
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
}
.ayn-project-body{
    padding-top: 300px;
    .banner-image{
        margin-bottom: 52px;
        img{
            width: 100%;
            transition: all 0.3s ease;
            border-radius: 4px;
        }
        // &:hover{
        //     img{
        //         border-radius: 32px;
        //     }

        // }
        box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
    }
    .content-width{
        font-size: 21px;
        margin-bottom: 62px;
        &>*:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &>*:not(.content-image):not(.lSSlideOuter){
            max-width: 720px;
            margin: 0 auto;
        }
        .white-highlight{
            font-weight: 600;
        }
        p{
            margin-bottom: 20px !important;
        }


        a{
            font-style: italic;
            font-family: $font-primary;
        }

        h1, h3{
            font-size: 32px;
            color: #38E1CC;
            margin-bottom: 12px !important;
        }

        ul{
            margin-bottom: 20px !important;
        }

        blockquote{
            padding: 20px 32px !important;
            margin: 28px auto !important;
            background: rgba(0,0,0,.06);
            position: relative;
            text-align: center;
            &:after{
                content: "";
                position: absolute;
                height: 4px;
                width: 100%;
                background: #38E1CC;
                left: 0;
                top: 0;
            }
        }
        
        .content-image{
            position: relative;
            margin: 52px auto;
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            padding-bottom: 32px;
            transition: all .3s ease;
            border-radius: 6px;
            img{
                max-width: 992px;
                width: 100%;
                height: auto;
                border-radius: 6px;
                border: 1px solid rgba(0,0,0,.06);
                transition: all 0.3s ease;
            }
            &:hover{
                background: rgba(0,0,0,.06);
            }
            .caption{
                position: absolute;
                bottom: -4px;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                font-family: $font-primary;
                width: 100%;
                text-align: center;
            }
        }

        /* lightslider */

        .lightslider .content-image, ul{
            margin: 0 auto;
        }

        .lSPager.lSGallery {
            width: 100% !important;
            display: flex;
            justify-content: center;
            padding-top: 8px;
            flex-wrap: wrap;
        }
        
        .lSPager.lSGallery li {
            min-width: 120px;
            height: auto;
            padding: 4px;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 0 !important;
            overflow: visible !important;
            position: relative;
            list-style-type: none !important;
        }
        
        .lSPager.lSGallery li.active, .lSPager.lSGallery li:hover {
            padding: 4px;
            border-radius: 2px !important;
            background-color: #b0b0b0;
        }
        
        .lSPager.lSGallery li.active:after {
            content: "";
            position: absolute;
            top: 3px;
            height: 12;
            width: 12;
            left: 47%;
            transform: rotate(45deg) translate(-50%, -50%);
            background-color: #b0b0b0;
            z-index: -1;
        }
    }
}

// project-page webdev
body.project--webdev{
   .project-details{
       background: #c4c0fd;
       padding: 20vh 0;
   } 
}



//MOBILE STYLES
@media screen and (max-width: 1200px){
    .desktop-only{
        display: none !important;
    }
    .oyn-container{
        max-width: 1024px;
        padding: 0 16px ;
    }
    .navbar{
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        position: relative;
        &.is-other-page{
            position: fixed;
        }
    }

    //homepage
    .panels{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        .left-panel{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            .header-text{
                text-align: center;
                .subheader{
                    font-size: 18px;
                    line-height: 1.7;
                    opacity: .7;    
                }
                .list--industry{
                    flex-wrap: wrap;
                    justify-content: center;

                }
            }
            .cta--sponge.mobile-only{
                margin-top: 42px;
                margin-right: 0;
            }
        }
        .right-panel{
            .list--project{
                .project-thumb{
                    width: 100%;
                    height: 502px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    .site-actions{
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 32px;
        font-size: 14px;
        .cta--sponge{
            margin-bottom: 16px;
            margin-right: 0;
        }
        .social-links{
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                color: $color-black;
                font-weight: 600;
                position: relative;
                transform: translateY(0);
                transition: all .3s ease;
                will-change: transform;
                &:hover{
                    transform: translateY(-4px);
                }
                img{
                    margin-left: 20px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    //project pages
    .project-details{
        .fixed-content-wrapper{
            flex-direction: column;
            align-items: flex-start;
            &>*{
                max-width: 100%;
            }
            .project-overview{
                .project-title{
                    line-height: 1;
                    div{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .ayn-project-body {
        padding-top: 240px;
        .project-stats{
            width: 100%;
            max-width: 30%;
            justify-content: space-between;
            margin-bottom: 52px !important;
            &>div{
                width: 100%;
            }
            .stat{
                margin-bottom: 18px;
                display: flex;
                flex-direction: column;
                .stat-title{
                    font-family: $font-primary;
                    font-size: 14px;
                    opacity: 0.7;
                    margin-bottom: 2px;
                }
                .stat-value{
                    font-size: 16px;
                    font-weight: 600;
                    span.points{
                        margin-bottom: 8px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                &:last-child{
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
        .content-width {
            blockquote{
                font-size: 18px;
                text-align: left;
            }
            .content-image {
                width: 100%;
                padding: 0;
                padding-bottom: 32px;
                margin: 32px 0;
                &:hover{
                    background: transparent;
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
}